<div class="container">
    <div class="wrapper">
      <form class="form-signin" #loginForm="ngForm" (ngSubmit)="submit()">
          <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
          <hr class="colorgraph"><br>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="User name" name="userName" [(ngModel)]="user.userName" required />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Password" name="password" [(ngModel)]="user.password" required>
          </mat-form-field>
          <button mat-raised-button color="primary" [disabled]="loginForm.invalid">Primary</button>
        </form>
    </div>
  </div>