.sidenav-container {
    /* width: 500px; */
    height: 100vh;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .sidenav-container mat-sidenav {
    max-width: 200px;
  }
  
  .sidenav-container .mat-sidenav-content,
  .sidenav-container mat-sidenav {
    display: flex;
    overflow: visible;
  }

  .sidenav-container .mat-mini-fab {
    position: absolute;
    right: 20px;
    bottom: 10px;
  }
  