<bt-navbar></bt-navbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="true">
    <bt-sidebar></bt-sidebar>
  </mat-sidenav>
  <button mat-mini-fab class="example-fab" (click)="sidenav.toggle()">
    <mat-icon>add</mat-icon>
  </button>
  <div class="main-app">
   <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>

<!-- Copyright 2017 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->
